In [3]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [5]:
print(Base.classes.keys())

['measurement', 'station']

In [6]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [7]:
Measurement

sqlalchemy.ext.automap.measurement

## D1: Determine the Summary Statistics for June

In [8]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
temp_june=session.query(Measurement.tobs).filter(extract('month',Measurement.date)==6).all()

In [9]:
#  3. Convert the June temperatures to a list.
temp_june=list(temp_june)

In [10]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temp_june_df=pd.DataFrame(temp_june,columns=["temprature"])
temp_june_df.head(10)

   temprature
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0
5        78.0
6        77.0
7        78.0
8        78.0
9        79.0

In [11]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
round(temp_june_df.describe(),2)

       temprature
count     1700.00
mean        74.94
std          3.26
min         64.00
25%         73.00
50%         75.00
75%         77.00
max         85.00

## D2: Determine the Summary Statistics for December

In [12]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
temp_december=session.query(Measurement.tobs).filter(extract('month',Measurement.date)==12).all()

In [13]:
# 7. Convert the December temperatures to a list.
temp_december=list(temp_december)

In [14]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
temp_december_df=pd.DataFrame(temp_december,columns=["temprature"])
temp_december_df.head()

   temprature
0        76.0
1        74.0
2        74.0
3        64.0
4        64.0

In [15]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
round(temp_december_df.describe(),2)

       temprature
count     1517.00
mean        71.04
std          3.75
min         56.00
25%         69.00
50%         71.00
75%         74.00
max         83.00

# Two Additional Weather Queires: Preciptation

In [21]:
# 1.1. Write a query that filters the Measurement table to retrieve the Preciptation  for the month of June. 
prep_june=session.query(Measurement.prcp).filter(extract('month',Measurement.date)==6).all() 

# 1.2. Convert the December temperatures to a list.

prep_june=list(prep_june)
# prep_june

# 1.3. Create a DataFrame from the list of temperatures for the month of June. 
prep_june_df=pd.DataFrame(prep_june,columns=["Preciptation"])
round(prep_june_df.describe(),2)

       Preciptation
count       1574.00
mean           0.14
std            0.34
min            0.00
25%            0.00
50%            0.02
75%            0.12
max            4.43

In [20]:
# 2.1. Write a query that filters the Measurement table to retrieve the Preciptation  for the month of December. 
prep_dec=session.query(Measurement.prcp).filter(extract('month',Measurement.date)==12).all() 

# 2.2. Convert the December temperatures to a list.

prep_dec=list(prep_dec)
# prep_dec

# 2.3. Create a DataFrame from the list of temperatures for the month of December. 
prep_dec_df=pd.DataFrame(prep_dec,columns=["Preciptation"])
round(prep_dec_df.describe(),2)

       Preciptation
count       1405.00
mean           0.22
std            0.54
min            0.00
25%            0.00
50%            0.03
75%            0.15
max            6.42