In [56]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [41]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [42]:
print(Base.classes.keys())

['measurement', 'station']

In [43]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [44]:
Measurement

sqlalchemy.ext.automap.measurement

## D1: Determine the Summary Statistics for June

In [66]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
temp_june=session.query(Measurement.tobs).filter(extract('month',Measurement.date)==6).all()

In [67]:
#  3. Convert the June temperatures to a list.
temp_june=list(temp_june)

In [68]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temp_june_df=pd.DataFrame(temp_june,columns=["temprature"])
temp_june_df.head(10)

   temprature
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0
5        78.0
6        77.0
7        78.0
8        78.0
9        79.0

In [69]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
round(temp_june_df.describe(),2)

       temprature
count     1700.00
mean        74.94
std          3.26
min         64.00
25%         73.00
50%         75.00
75%         77.00
max         85.00

## D2: Determine the Summary Statistics for December

In [71]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
temp_december=session.query(Measurement.tobs).filter(extract('month',Measurement.date)==12).all()

In [70]:
# 7. Convert the December temperatures to a list.
temp_december=list(temp_december)

In [63]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
temp_december_df=pd.DataFrame(temp_december,columns=["temprature"])
temp_december_df.head()

   temprature
0        76.0
1        74.0
2        74.0
3        64.0
4        64.0

In [64]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
round(temp_december_df.describe(),2)

       temprature
count     1517.00
mean        71.04
std          3.75
min         56.00
25%         69.00
50%         71.00
75%         74.00
max         83.00